body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006d6f; /* Petrol */
    color: white;
    padding: 10px;
}

p {
    line-height: 25px;
}

li {
    line-height: 23px;
}

.headline h1 {
    margin: 0;
    margin-left:285px;
    font-size: 60px;
}

.logo {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}

.layout {
    display: flex;
    flex-direction: row; /* Navigation und Inhalt nebeneinander */
}

nav {
    width: 250px;
    background-color: white;
    margin-top: 120px;
    margin-right: 30px;
}

.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-text {
    padding-left: 20px;
    color: gray;
    font-weight: bold; /* Fett gedruckter Text */
    text-transform: uppercase; /* Großbuchstaben */
}

.nav-item {
    position: relative; /* Ermöglicht die Positionierung der Unternavigation */
    color: gray;
    border-bottom: 1px solid #006d6f; /* Petrolfarbene Trennlinie */
    cursor: pointer;
    background-color: white; /* Standard-Hintergrundfarbe */
   
}

/* Entfernt den Hover-Effekt für den Hintergrund */
.nav-item:hover {
    background-color: lightgray; /* Hintergrund wird grau beim Hovern */
    padding-top: 5px;
}

.nav-item:hover > .sub-nav {
    display:block; /* Zeigt die Unternavigation beim Hovern an */
}

.nav-item.active {
    background-color: #f0f0f0; /* Helles Grau für den aktiven Zustand */
    color: white;
    padding-top: 5px;
}

.nav-item.active > .sub-nav {
    display: block; /* Unterpunkte bleiben sichtbar */
}

.sub-nav {
    display: none; /* Standardmäßig ausgeblendet */
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white; /* Weißer Hintergrund für die Unterpunkte */
    position: relative; /* Bleibt im normalen Dokumentfluss */
    z-index: 1;
    /* Entfernt den Schatten */
}

.nav-item:hover > .sub-nav {
    display: block; /* Zeigt die Unterpunkte beim Hovern */
}

.sub-item {
    padding: 0px;
    padding-left: 15px;
    color: gray;
    cursor: pointer;
}

.sub-item a {
    text-decoration: none;
    color: gray;
    display: block;
    padding: 10px;
    transition: color 0.3s ease;
}

.sub-item a:hover {
    color: #006d6f; /* Petrol-Farbe beim Hovern */
    font-weight: bold;
}

.sub-item a.active {
    
    font-weight: bold; /* Schrift wird fett für aktiven Unterpunkt */
    color: #006d6f; /* Petrol-Farbe für aktiven Unterpunkt */
}

.sub-item:hover {
    background-color: white; /* Kein Hintergrundwechsel beim Hovern */
}

.container {
    flex: 1; /* Nimmt die gesamte restliche Breite ein */
    padding: 20px;
}

main {
    width: 100%; /* Nimmt die gesamte Breite des Containers ein */
}

.breadcrumb {
    color: gray;
    margin-top: 20px; /* Fügt Abstand oberhalb der Breadcrumb hinzu */
    margin-bottom: 60px; /* Erhöht den Abstand nach unten */
}

.breadcrumb a {
    text-decoration: none; /* Entfernt die Unterstreichung */
    color: gray; /* Setzt die Schriftfarbe auf Grau */
    cursor: pointer; /* Zeigt an, dass es ein Link ist */
}

.breadcrumb a:hover {
    text-decoration: underline; /* Optional: Unterstreichung beim Hovern */
    color: gray; /* Farbe bleibt Grau auch beim Hovern */
}

.breadcrumb-container {
    display: flex;
    justify-content: space-between; /* Breadcrumb links, Suchfeld rechts */
    align-items: center;
    margin-bottom: 20px;
}

.alphabet-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.alphabet-item {
    width: 30%;
    
    padding-left: 0px;
    padding-right: 25px;
}

.alphabet-header {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
    transition: background-color 0.3s ease; /* Für sanften Übergang */
}

.alphabet-container .alphabet-item ul {
    list-style: disc; /* Standardmäßige Aufzählungspunkte */
    padding-left: 20px; /* Abstand für die Aufzählungspunkte */
}

.alphabet-container .alphabet-item ul li {
    position: relative; /* Ermöglicht die Anpassung der Breite */
    width: 100%; /* Nimmt die gesamte Breite des Containers ein */
    color: gray; /* Schriftfarbe der Listenpunkte bleibt Grau */
}

.alphabet-container .alphabet-item ul li::marker {
    color: #006d6f; /* Petrolfarbe für die Aufzählungszeichen */
}

.alphabet-container .alphabet-item ul li a {
    display: block; /* Macht den Link zu einem Blockelement */
    width: 100%; /* Nimmt die gesamte Breite des Containers ein */
    text-decoration: none; /* Entfernt die Unterstreichung */
    color: gray; /* Setzt die Schriftfarbe auf Grau */
    box-sizing: border-box; /* Bezieht Padding und Border in die Breite ein */
}

.alphabet-container .alphabet-item ul li a:hover {
    text-decoration: none; /* Optional: Unterstreichung beim Hovern */
    color: #004d4f; /* Dunkleres Petrol beim Hovern */
    font-weight: bold; /* Fett gedruckt beim Hovern */    
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

#search-input {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

#search-input:focus {
    outline: none;
    border-color: #006d6f; /* Petrol-Farbe */
}


.date-time {
    float: right;
    margin-right: 80px;
    text-align: right;
    color: lightgray;
}
#last-modified {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: gray;
    text-align: right; /* Text rechtsbündig ausrichten */
    background-color: white; /* Optional: Hintergrundfarbe für bessere Sichtbarkeit */
    padding: 5px; /* Optional: Innenabstand */
    border: 1px solid #ccc; /* Optional: Rahmen für bessere Sichtbarkeit */
    margin-right: 50px;
}

h1 {
    margin-top: 20px; /* Fügt Abstand oberhalb der H1 hinzu */
}

footer {
    background-color: #006d6f; /* Petrol */
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    position: relative; /* Ermöglicht die Positionierung des Fußbereichs */
    bottom: 0; /* Positioniert den Fußbereich am unteren Rand */
    width: 100%; /* Nimmt die volle Breite ein */
}


.intro-container {
    display: flex;
    align-items: flex-start; /* Text bleibt oben, Bild beginnt auf gleicher Höhe */
    gap: 20px; /* Abstand zwischen Text und Bild */
    margin-bottom: 30px;
    flex-wrap: wrap; /* Für kleinere Bildschirme */
}

.intro-text {
    flex: 2; /* Größerer Bereich für Text */
    min-width: 300px;
    
}

.intro-image {
    flex: 1;
    min-width: 300px;
    margin-right: 80px;
    margin-top: 20px;
}

.glossar-image {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.linkedText {
    color: #006d6f; /* Petrol-Farbe */
    font-weight: bold;
    text-decoration: none; /* Entfernt die Unterstreichung */
}

span {
    font-weight: bold;
}

/* Allgemeiner Stil für Tabellen */
.styled-table {
    width: 100%; /* Tabelle nimmt die gesamte Breite ein */
    max-width: calc(100% - 80px); /* Tabelle endet 80px vor dem rechten Rand */
    border-collapse: collapse; /* Entfernt doppelte Ränder */
    margin-top: 20px; /* Abstand oberhalb der Tabelle */
    font-size: 14px; /* Schriftgröße */
    border: none; /* Rahmen um die Tabelle */
}

/* Stil für den Tabellen-Header */
.styled-table thead th {
    color: #006d6f; /* Petrol-Farbe */
    font-weight: bold; /* Fettschrift für den Header */
    padding: 10px; /* Innenabstand */
    text-align: left; /* Text linksbündig */
    border-bottom: 3px solid #006d6f; /* Trennlinie unter dem Header */
}

/* Stil für die Tabellenzellen */
.styled-table tbody td {
    padding: 10px; /* Innenabstand */
    border-bottom: 1px solid #ddd; /* Trennlinie zwischen den Zeilen */
    text-align: left; /* Text linksbündig */
}

/* Stil für die erste Spalte */
.styled-table td:first-child {
    font-weight: bold; /* Fettschrift für die erste Spalte */
}

/* Stil für die letzte Zeile */
.styled-table tr:last-child td {
    border-bottom: none; /* Entfernt die Trennlinie unter der letzten Zeile */
}