/* allgemeine Tags
**/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006d6f;
    color: white;
    padding: 10px;
}

h1 {
    margin-top: 20px;
}

span {
    font-weight: bold;
}

li {
    line-height: 23px;
}

.header-title h1{
    margin: 0;
    margin-left:285px;
    font-size: 60px;
}

.logo {
    padding: 10px;
    text-align: center;
    margin-right: 110px;
}

.layout {
    display: flex;
    flex-direction: row; /* Navigation und Inhalt nebeneinander */
}

/* Navigation */
nav {
    width: 250px;
    background-color: white;
    margin-top: 120px;
    margin-right: 30px;
}

.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-text {
    padding-left: 20px;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-item {
    position: relative; 
    color: gray;
    border-bottom: 1px solid #006d6f;
    cursor: pointer;
    background-color: white;
   
}

.nav-item:hover {
    background-color: lightgray;
    padding-top: 5px;
}

.nav-item:hover > .sub-nav {
    display:block;
}

.nav-item.active {
    background-color: #f0f0f0;
    color: white;
    padding-top: 5px;
}

.nav-item.active > .sub-nav {
    display: block;
}

.sub-nav {
    display: none; 
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: relative;
    z-index: 1;
}

.nav-item:hover > .sub-nav {
    display: block;
}

.sub-item {
    padding: 0px;
    padding-left: 15px;
    color: gray;
    cursor: pointer;
}

.sub-item a {
    text-decoration: none;
    color: gray;
    display: block;
    padding: 10px;
    transition: color 0.3s ease;
}

.sub-item a:hover {
    color: #006d6f;
    font-weight: bold;
}

.sub-item a.active {
    
    font-weight: bold;
    color: #006d6f;
}

.sub-item:hover {
    background-color: white;
}

.container {
    flex: 1;
    padding: 20px;
}

main {
    width: 100%;
}

/* Breadcrumb*/
.breadcrumb {
    color: gray;
    margin-top: 20px;
    margin-bottom: 60px;
}

.breadcrumb a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.breadcrumb a:hover {
    text-decoration: underline;
    color: #006d6f;
}

.breadcrumb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Container A-Z*/
.alphabet-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.alphabet-item {
    width: 30%;
    padding-left: 0px;
    padding-right: 25px;
}

.alphabet-header {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.alphabet-container .alphabet-item ul {
    list-style: disc;
    padding-left: 20px;
}

.alphabet-container .alphabet-item ul li {
    position: relative;
    width: 100%;
    color: gray;
}

.alphabet-container .alphabet-item ul li::marker {
    color: #006d6f;
}

.alphabet-container .alphabet-item ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: gray;
    box-sizing: border-box;
}

.alphabet-container .alphabet-item ul li a:hover {
    text-decoration: none;
    color: #006d6f;
    font-weight: bold;    
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 80px;
}


/* Suchfeld*/
#search-input {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-right: 30px;
}

#search-input:focus {
    outline: none;
    border-color: #006d6f;
}


/* letzte Änderung*/
.date-time {
    float: right;
    margin-right: 130px;
    text-align: right;
    color: lightgray;
}
#last-modified {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: gray;
    text-align: right;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 50px;
}


/* Footer*/
footer {
    background-color: #006d6f;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* Contentbereich*/
.text {
    line-height: 25px;
}

.caption {
    font-size: 10px;
    color: gray;
    margin-top: 5px;
        max-width: 350px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.intro-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.intro-text {
    flex: 1 1 0;
    min-width: 250px;
}

.intro-image {
    margin: 25px 110px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.images {
    max-width: 600px;
    display: block;
    height: auto;
    margin: 0;
}

.linkedText {
    color: #006d6f;
    font-weight: bold;
    text-decoration: none;
}

/* Tabellen */
.styled-table {
    width: 100%;
    max-width: calc(100% - 80px);
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    border: none;
}

.styled-table thead th {
    color: #006d6f;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 3px solid #006d6f;
}

.styled-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.styled-table td:first-child {
    font-weight: bold;
}

.styled-table tr:last-child td {
    border-bottom: none;
}